*.deps
build/
protocol/*.h
protocol/*.c
Makefile
Makefile.in
xfway
test-switcher
*.la
*.lo
*.o
*.pc
*.so
.libs
/aclocal.m4
/autom4te.cache
/config.guess
/config.h
/config.log
/config.status
/config.sub
/configure
/configure.ac
