*.deps
build/
protocol/*.h
protocol/*.c
Makefile
Makefile.in
xfway
xfway-shell
tests/test-switcher/test-switcher
*.la
*.lo
*.o
*.pc
*.so
.libs
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.h
/config.log
/config.status
/config.sub
/configure
/configure.ac
/depcomp
/install-sh
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/libtool
/ltmain.sh
/logs
/m4/
/missing
/stamp-h1
/test-driver
